<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://img.freepik.com/vecteurs-premium/logo-bobine-film-vecteur-logo-cinema_472355-391.jpg" />
    </a>
  </div>
  <button class="btn btn-primary"><%= link_to "New list", new_list_path() %></button>

</div>

<div class="container">
  <div class="grid text-center">
    <ul>
      <% @lists.each do |list| %>
      <div class="g-col-6 border">
        <li>
          <%= link_to list.name, list_path(list) %>
        </li>
      </div>
      <% end %>
    </ul>
  </div>
</div>

<div class="container">
  <div class="card" style="width: 18rem;">
    <img src="https://cdn.pixabay.com/photo/2019/11/07/20/48/cinema-4609877_1280.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <ul><% @lists.each do |list| %>
      <li><%= link_to list.name, list_path(list) %></li>
      <% end %>
      </ul>
      <p class="card-text">Some quick example</p>
    </div>
  </div>
</div>


<%= link_to "New list", new_list_path() %>
